extends layout

block content
  h1= title
  - let tiger  = results;
  script.
    function buy(x){
      alert('Purchased Item: ' + x)
   } 
  div(class='container-fluid')
    div(class='row')
      each m, index in tiger  
       div(class="col-sm-2" onclick=`buy(${index})`) #{m.color} #{m.place} #{m.weight} 